.top-products {
    
    margin-top:50px;

    .title {
        position: relative;
    }

    h1 {
        position: relative;
        font-family: 'NTR';
        z-index:1;
        text-align: center;
        font-weight: 600 ;
        letter-spacing: 3px;
        background-color:white;
        width:300px;
        margin:0 auto;
    }
    .line {
        position: absolute;
        background-color: black;
        height:2px;
        width:80vw;
        left:10vw;
        top:30px;
    }
}