* {
    padding: 0;
    margin:0;
    font-family:'open sans';
}
html {
    height:100%;
    overflow-x: hidden;

}
button {
    cursor: pointer;
}
button:focus,input:focus {
    outline:none
}

.icon-mouse {
    position: absolute;
    width:30px;
    z-index:20;
    font-size:40px;
    bottom:10px;
    left: calc(50vw - 15px);
}
.black-button {
    position: relative;
    font-weight: bold;
    background-color: black;
    border:0;
    color:white;
    font-size:calc(0.5em + 0.8vw);
    min-width: 60px;
}